/* 
Mona Typeface by Github. 
https: //github.com/github/mona-sans
*/
@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 300 400 700 900;
  font-stretch: 75% 100% 125%;
}

html{
    font-family: 'Mona Sans';
}